<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
<div class="container">
    <section class="hero is-small is-primary">
        <div class="hero-body">
          <p class="title">
            <%= product.name %> 
          </p>
          <p class="subtitle">
            Mongoose Store
          </p>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/store">
                    <strong>Home</strong>
                  </a>
                <a class="button is-light" href="/store/<%= product._id %>/edit">
                    Edit Item
                </a>
                <form action="/store/<%= product._id %>?_method=DELETE" method="post">
                    <button type="submit" class="button is-light">Delete Item</button>
                </form>
              </div>
            </div>
          </div>
      </section>

      <br>
    
    <div class="columns has-text-centered">
        <div class="column">
            <ul>
                <li><img src="<%= product.img %>"></li>
                <li><strong>Description:</strong></li>
                <li><%= product.description %></li>
                <li>
                    <strong>Price:</strong> 
                    $<%= product.price %>
                </li>
                <li>
                    <strong>Quantity:</strong>
                    <span class="quantity"><%= product.qty %></span>
                </li>
            </ul>
        </div>
    </div>

    <% if (product.qty <= 0) { %>
      <div class="buttons are-medium is-centered">
        <button class="button" id="buyButton" disabled>Out of Stock</button>
      </div>
      <% } else { %>
        <div class="buttons are-medium is-centered">
          <button class="button" id="buyButton" onclick="decrement()">Buy Me!</button>
        </div>
      <% } %> 

</div>
<script>
decrement = () => {
  let qty = parseInt(document.querySelector('.quantity').textContent);
  let buyButton = document.querySelector('#buyButton')
  let newQty = --qty;
  document.querySelector('.quantity').textContent = newQty;
  if (qty === 0) {
    buyButton.textContent = 'Out of Stock'
    buyButton.disabled = true;
  }
}
</script>
</body>
</html>